/* Bir div'e display: flex atarsan içindeki divler yanyana dizilir */

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f2f2f2;
}

.productName {
    text-align: center;
    font-size: 11px;
    //margin: 0;
    //padding-top: 10px;
}

a {
    text-decoration: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.content {
    width: 20%;
    max-height: 465px;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    //cursor: pointer;
    padding-top: 10px;
    border-radius: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .4s;
    background-color: #f2f2f2;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

img {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.productExp {
    text-align: center;
    color: #b2bec3;
    margin-top: 12px;
    padding-top: 0 8px;
}

.productPrice {
    font-size: 26px;
    text-align: center;
    color: #222f3e;
    margin-top: 12px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    /*padding-top: 0;*/
    padding: 0;
}

li {
    /*padding-top: 5px;*/
    padding: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
    /*margin: 3px;*/
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

.checked {
    color: #ff9f43;
}

.buy-1 {
    text-align: center;
    font-size: 24px;
    color: #fff;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    background-color: #2183a2;
}

@media(max-width: 1000px) {
    .content {
        width: 45%;
    }
}

@media(max-width: 750px) {
    .content {
        width: 100%;
    }
}